* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
}

header {
    height: 72px;
    width: 100%;
    background-color: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    width: 48px;
    height: 48px;
    background-color: #ccc;
    border-radius: 10px;
    display: flex;
    margin-right: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0px 16px;
}

.nav-link {
    display: inline;
    padding: 8px 16px;
    text-decoration: none;
    color: #ccc;
    transition: 0.5s ease;
}

.nav-link:hover {
    opacity: 0.8;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

.container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid yellowgreen;
}

.thumb-top {
    border: 1px solid aqua;
    border-radius: 10px;
}